<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Registration_servlet</servlet-name>
  	<display-name>Registration_servlet</display-name>
  	<description></description>
  	<servlet-class>controller.Registration_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>delete</servlet-name>
  	<display-name>delete</display-name>
  	<description></description>
  	<servlet-class>controller.delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register_delete</servlet-name>
  	<display-name>Register_delete</display-name>
  	<description></description>
  	<servlet-class>controller.Register_delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register_update</servlet-name>
  	<display-name>Register_update</display-name>
  	<description></description>
  	<servlet-class>controller.Register_update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>View_Hql</servlet-name>
  	<display-name>View_Hql</display-name>
  	<description></description>
  	<servlet-class>controller.View_Hql</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register_view</servlet-name>
  	<display-name>Register_view</display-name>
  	<description></description>
  	<servlet-class>controller.Register_view</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>View_name</servlet-name>
  	<display-name>View_name</display-name>
  	<description></description>
  	<servlet-class>controller.View_name</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertHR</servlet-name>
  	<display-name>InsertHR</display-name>
  	<description></description>
  	<servlet-class>controller.InsertHR</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewHR</servlet-name>
  	<display-name>ViewHR</display-name>
  	<description></description>
  	<servlet-class>controller.ViewHR</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insert_HR</servlet-name>
  	<display-name>insert_HR</display-name>
  	<description></description>
  	<servlet-class>controller.insert_HR</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Registration_servlet</servlet-name>
  	<url-pattern>/Registration_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>delete</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register_delete</servlet-name>
  	<url-pattern>/Register_delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register_update</servlet-name>
  	<url-pattern>/Register_update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>View_Hql</servlet-name>
  	<url-pattern>/View_Hql</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register_view</servlet-name>
  	<url-pattern>/Register_view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>View_name</servlet-name>
  	<url-pattern>/View_name</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertHR</servlet-name>
  	<url-pattern>/InsertHR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewHR</servlet-name>
  	<url-pattern>/ViewHR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insert_HR</servlet-name>
  	<url-pattern>/insert_HR</url-pattern>
  </servlet-mapping>
</web-app>
